<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Last.fm Similar Artists Search</string>
	<key>Info</key>
	<string>Last.fm Similar Artists Search Plugin ©2009-2010 Stateful Labs</string>
	<key>Description</key>
	<string>Searches Last.fm for similar music artists.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Identifier</key>
	<string>net.stateful.devonagent.lastfm.plugin</string>
	<key>EngineUrl</key>
	<string>http://www.last.fm/music/_agentQuery_/+similar?page=_agentOffset_</string>
	<key>Start</key>
	<integer>1</integer>
	<key>OffsetPerPage</key>
	<integer>1</integer>
	<key>EncodingUrl</key>
	<string>UTF-8</string>
	<key>LinksMatching</key>
		<string>*www.last.fm/music/*</string>
	<key>LinksNotMatching</key>
	<array>
		<string>*setlang*</string>
		<string>*+similar?change=language</string>
		<string>*lastfm*</string>
		<string>*last.fm.*</string>
	</array>
	<key>UseListingResults</key>
	<true/>
	<key>TextStart</key>
	<string>class=&quot;artist&quot;&gt;&lt;span</string>
	<key>TextEnd</key>
	<string>&lt;span class=&quot;moduleOptions moduleOptionsLeft&quot;&gt;</string>
	<key>Operators</key>
	<integer>59</integer>
	<key>Keyword</key>
	<string>fm</string>
</dict>
</plist>
