<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>OpenRadar</string>
	<key>Info</key>
	<string>OpenRadar Plugin ©2009 Stateful Labs</string>
	<key>Description</key>
	<string>Searches full-disclosure, community Apple bug reports at OpenRadar.</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Identifier</key>
	<string>net.stateful.devonagent.openradar.plugin</string>
	<key>EngineUrl</key>
	<string>http://openradar.appspot.com/search?query=_agentQuery_</string>
	<key>EncodingUrl</key>
	<string>UTF-8</string>
	<key>NoTopics</key>
	<array>
		<string>Status</string>
		<string>Resolved</string>
		<string>Reproducible</string>
		<string>Regression</string>
		<string>Rdar</string>
		<string>Originator</string>
		<string>Originated</string>
		<string>Number</string>
		<string>Classification</string>
		<string>Summary</string>
		<string>Steps</string>
		<string>Expected</string>
		<string>Reproduce</string>
		<string>Product</string>
		<string>Results</string>
		<string>Attachment</string>
	</array>
	<key>Operators</key>
	<integer>0</integer>
	<key>TextStart</key>
	<string>&lt;div id=&quot;content&quot;&gt;</string>
	<key>TextEnd</key>
	<string>&lt;h2&gt;Comments&lt;/h2&gt;</string>
	<key>LinksStart</key>
	<string>&lt;th&gt;Title&lt;/th&gt;&lt;/tr&gt;</string>
	<key>LinksEnd</key>
	<string>Didn't find what you wanted?</string>
	<key>Keyword</key>
	<string>rdar</string>
</dict>
</plist>
