<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Stack Overflow (Search)</string>
	<key>Info</key>
	<string>Stack Overflow Search Plugin ©2009 Stateful Labs</string>
	<key>Description</key>
	<string>Stack Overflow Search</string>
	<key>Version</key>
	<string>1.0</string>
	<key>Identifier</key>
	<string>net.stateful.devonagent.stackoverflow.plugin</string>
	<key>EngineUrl</key>
	<string>http://stackoverflow.com/search?q=_agentQuery_</string>
	<key>EngineNextUrl</key>
	<string>http://stackoverflow.com/search?q=_agentQuery_&amp;page=_agentOffset_&amp;sort=relevance</string>
	<key>EncodingUrl</key>
	<string>UTF-8</string>
	<key>NoTopics</key>
	<array>
		<string>Votes</string>
		<string>Asked</string>
		<string>Oldest</string>
		<string>Answered</string>
		<string>Offensive</string>
		<string>Answers</string>
		<string>Edited</string>
	</array>
	<key>LinksMatching</key>
	<array>
		<string>*/questions/*</string>
	</array>
	<key>LinksNotMatching</key>
	<array>
		<string>*/questions/tagged*</string>
		<string>*/questions/ask</string>
		<string>*/users/*</string>
	</array>
	<key>Operators</key>
	<integer>0</integer>
	<key>OffsetPerPage</key>
	<integer>50</integer>
	<key>ResultsPerPage</key>
	<integer>50</integer>
	<key>Start</key>
	<integer>1</integer>
	<key>TitleStart</key>
	<string>&lt;title&gt;</string>
	<key>TitleEnd</key>
	<string>&lt;/title&gt;</string>
	<key>TextStart</key>
	<string>&lt;div class=&quot;post-text&quot;&gt;</string>
	<key>TextEnd</key>
	<string>&lt;h2&gt;Your Answer:&lt;/h2&gt;</string>
	<key>LinksStart</key>
	<string>&lt;div class=&quot;post-text&quot;&gt;</string>
	<key>LinksEnd</key>
	<string>&lt;div class=&quot;post-menu&quot;&gt;</string>
	<!-- <key>Keyword</key>
	<string>so</string> -->
</dict>
</plist>
