<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>Twitter</string>
	<key>Info</key>
	<string>Twitter Plugin ©2009-2011 Stateful Labs</string>
	<key>Description</key>
	<string>Searches Twitter.</string>
	<key>Version</key>
	<string>1.1</string>
	<key>Identifier</key>
	<string>net.stateful.devonagent.twitter.plugin</string>
	<key>EngineUrl</key>
	<string>http://search.twitter.com/search?q=_agentQuery_&amp;page=_agentOffset_&amp;rpp=_agentNumber_</string>
	<key>EncodingUrl</key>
	<string>UTF-8</string>
	<key>TextStart</key>
	<string>&lt;div class=&quot;msg&quot;&gt;</string>
	<key>Operators</key>
	<integer>59</integer>
	<key>ResultsPerPage</key>
	<integer>50</integer>
	<key>Start</key>
	<integer>1</integer>
	<key>FollowLinks</key>
	<true/>
	<key>Keyword</key>
	<string>tw</string>
</dict>
</plist>
